/* Universal Selector */
* {
	font-family: "Open Sans", sans-serif;
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}

header.bgheader {
	height: auto;
	width: 100%;
	overflow: hidden;
}
.contact-form-container {
	height: 100vh;
	width: 100%;
	background-color: rgba(1,1,1,0.7);
	overflow: hidden;
	position: fixed;
	z-index: 7;
	display: none;
	animation-duration: 0.1s;
}
.contact-form-div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact-form {
	animation-duration: 0.1s;
	height: auto;
	width: auto;
	margin-top: 15%;
}
.hr-row {
	background-color: #000;
	height: 2px;
	border-radius: 1.5px;
}

/* Navigation Bar */
nav {
	background-color: #000;
	z-index: 5;
}
.logo-l1 {
	color: #23d00c;
}
.logo-l2 {
	color: #e7ffc0;
}
nav div ul li:hover {
	transition: 0.2s ease;
	background-color: #005c23;
}

/* Home Section */
section.home-section {
	overflow: hidden;
	height: auto;
	width: 100%;
	background-image: linear-gradient(to right,rgba(0,0,0,0.7),rgba(0,0,0,0.3)),url("images/page/bgimg-03.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
div.home-section-title {
	margin-top: 10%;
	margin-bottom: 10%;
}
h1.home-title-t1 {
	color: #23d00c;
	animation-delay: 0.7s;
}
h1.home-title-t2 {
	color: #e7ffc0;
	animation-delay: 0.9s;
}
a.home-button-b1 {
	border-radius: 0px;
	background-color: #e7ffc0;
}
a.home-button-b1:hover {
	transition: 0.3s ease;
	background-color: transparent;
	border-color: #e7ffc0;
	color: #e7ffc0;
}
a.home-button-b2 {
	border-radius: 0px;
	background-color: transparent;
	border-color: #23d00c;
	color: #23d00c;
}
a.home-button-b2:hover {
	transition: 0.3s ease;
	background-color: #23d00c;
}
div.home-section-title h2 {
	animation-delay: 0.5s;
}
div.home-section-title h3 {
	animation-delay: 1.1s;
}
div.home-section-title p {
	animation-delay: 1.3s;
}
div.home-section-title a {
	animation-delay: 1.5s;
}
img.img-1 {
	animation-delay: 2s;
}

/* Features Section */
section.feature-section {
	overflow: hidden;
	height: auto;
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
}
.feature-section-container {
	
}
.feature-img {
	background-color: #f3e116;
	border-radius: 150px;
	width: 180px;
	height: 180px;
}
.feature-img:hover {
	transition: 0.3s ease;
	background-color: transparent;
	
}

/* Services Section */
section.services-section {
	background-color: #00c6ff;
	overflow: hidden;
	height: auto;
	width: 100%;
}
div.services-section-container {
	padding-bottom: 10%;
}
div.services-section-title {
	margin-top: 5%;
	border-left: 7px solid #000;
	color: #000;
}
div.service-card {
	
}
.service-card-button:hover {
	background-color: #000;
	color: #fff;
}
.service-card-button {
	background-color: #00c6ff;
	color: #000;
	border-radius: 0px;
}

/* Portfolio Section */
section.portfolio-section {
	overflow: hidden;
	height: auto;
	width: 100%;
}
div.portfolio-section-container {
	padding-top: 5%;
	padding-bottom: 5%;
}
div.portfolio-section-title {
	border-left: 7px solid #000;
	color: #000;
}
div.business-brands {
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("images/page/bgimg-01.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.count-card {
	background-color: #f3e116;
}
.count-img-card {
	background-color: #f3e116;
	margin-top: -20%;
	border-radius: 50px;
	height: 90px;
	width: 90px;
}
.count-card-img {
	margin-top: 21%;
}

/* Product Section */
section.product-section {
	background-color: #00c6ff;
	height: auto;
	width: 100%;
	overflow: hidden;
}
div.product-section-container {
	padding-top: 5%;
	padding-bottom: 5%;
}
div.product-section-title {
	border-left: 7px solid black;
}
.product-row {
	background-color: #fff;
	border: 1px solid #fff;
	padding: 0px;
}
.product-card-01 {
	height: 60vh;
	width: 100%;
	background-image: linear-gradient(to top,rgba(0,0,0,0.3),rgba(0,0,0,0.1)),url("images/products/product (1).jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #fff;
}
.product-card-01-title {
	margin-top: 60%;
}
.product-card-02 {
	height: 30vh;
	width: 100%;
	background-image: linear-gradient(to top,rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url("images/products/product (2).jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #fff;
}
.product-card-02-title {
	margin-top: 45%;
}
.product-card-03 {
	height: 30vh;
	width: 100%;
	background-image: linear-gradient(to top,rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url("images/products/product (3).jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #fff;
}
.product-card-03-title {
	margin-top: 45%;
}
.product-card-04 {
	height: 30vh;
	width: 100%;
	background-image: linear-gradient(to top,rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url("images/products/product (4).jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #fff;
}
.product-card-04-title {
	margin-top: 14%;
}
.product-section-button {
	border-radius: 0px;
}

/* Contact us Section */
section.contact-section {
	height: auto;
	width: 100%;
	overflow: hidden;
}
div.contact-section-container {
	padding-top: 5%;
	padding-bottom: 5%;
}
div.contact-section-title {
	border-left: 7px solid black;
}
.submit-button {
	border-radius: 0px;
	background-color: #ffc107;
	color: #000;
}
.submit-button:hover {
	transition: 0.3s ease;
	background-color: #000;
	color: #ffc107;
}
.text-input {
	border-radius: 0px;
}
.maps {
	border: 5px solid white;
	height: 40vh;
	width: 100%;
}

/* About Section */
section.about-section {
	height: auto;
	width: 100%;
	overflow: hidden;
	background-color: #00c6ff;
}
div.about-section-container {
	padding-top: 5%;
	padding-bottom: 5%;
}
div.about-section-title {
	border-left: 7px solid black;
}
.founder-img {
	border-radius: 200px;
	height: 250px;
	width: 250px;
}
.logo-text-1 {
	color: #23d00c;
}
.logo-text-2 {
	color: #e7ffc0;
}
.logo-text {
	background-color: #000;
}
.about-section-button {
	border-radius: 0px;
}

/* Footer */
footer {
	height: auto;
	width: 100%;
	background-color: #000;
}
.logo-l1 {
	color: #23d00c;
}
.logo-l2 {
	color: #e7ffc0;
}
.footer-subscribe-button {
	background-color: #23d00c;
}

/* Responsive Media Queries*/

@media (max-width: 768px)
{
	.go-to-top {
		position: fixed;
		top: 90%;
		left: 81%;
	}
	.message {
		position: fixed;
		top: 80%;
		left: 80%;
	}
}

