/* Universal Selector */
* {
	font-family: "Open Sans", sans-serif;
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}

header.bgheader {
	height: auto;
	width: 100%;
	overflow: hidden;
}
hr {
	height: 3px;
	border-radius: 1px;
}
.button {
	border-radius: 0px;
}

/* Navigation Bar */
nav {
	z-index: 5;
}
a.logo {
	color: #000;
}
.navbar-toggler-button {
}
.searchbar-text {
	outline: none;
	border-radius: 0px;
	border-right: none;
}
.searchbar-button {
	border-radius: 0px;
	border-left: none;
}
nav div ul li a {
	text-decoration-color: #000;
}
nav div ul li a:hover {
	transition: 0.3s ease;
}

/* Home Section */
section.home-section {
	height: auto;
	width: 100%;
}
.sidebar-tab {
	cursor: pointer;
}
.tab-dashboard {
	display: none;
}

/* Media Queries */
@media (max-width: 768px)
{
	
}



