/* Universal Selector */
* {
	font-family: 'Josefin Sans', sans-serif;
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}

.preloader {
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 20;
	overflow: hidden;
	display: block;
	animation-duration: 3s;
}
.preloader-gif {
	position: absolute;
	z-index: 25;
	top: 50%;
	left: 50%;
	animation: zoomIn 2s linear infinite;
}
header.bgheader {
	height: auto;
	width: 100%;
	overflow: hidden;
}
.button {
	border-radius: 0px;
}

/* Navigation Bar */
nav {
	z-index: 5;
}
a.logo {
	color: #000;
}
.navbar-toggler-button {
}
.searchbar-text {
	outline: none;
	border-radius: 0px;
	border-right: none;
}
.searchbar-button {
	border-radius: 0px;
	border-left: none;
}
nav div ul li a {
	text-decoration-color: #000;
}
nav div ul li a:hover {
	transition: 0.3s ease;
}

/* Home Section */
section.home-section {
	height: auto;
	width: 100%;
	background-image: linear-gradient(to right,rgba(0,0,0,0.7),rgba(0,0,0,0.5)),url("images/pages/home-bgimg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.page-title {
	margin-top: 15%;
	margin-bottom: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
}
.page-title h1 {
	font-size: 60px;
	color: #00dbde;
}
.page-title button {
	color: #fff;
	border-color: #fff;
	border-radius: 30px;
	background-color: rgba(0,0,0,0.5);
}
.page-title button:hover {
	color: #000;
	background-color: #fff;
}
.img1 {
	margin-top: -5%;
	animation-delay: 1.5s;
	animation: bounce 3s linear infinite;
}

/* Article Section */
section.article-section {
	height: auto;
	width: 100%;
}

/* Media Queries */
@media (max-width: 768px)
{
	.logo {
		display: none;
	}
	.page-title {
		margin-top: 25%;
		padding-top: 10%;
	}
	.img1 {
		margin-top: 7%;
	}
}



