
/*///// Full Page Style (Start) /////*/
* {
	font-family: 'Mulish', sans-serif;
	padding: 0px;
	margin: 0px;
	scroll-behavior: smooth;
}
body {
	scroll-behavior: smooth;
}
header.body {
	scroll-behavior: smooth;
}
/*///// Full Page Style (End) /////*/


/*///// Preloader (Start) /////*/
div.preloader {
	height: 100vh;
	width: 100%;
	position: fixed;
	background-color: white;
	z-index: 35;
}
.preloadericon {
	z-index: 40;
	top: 50%;
	left: 35%;
	position: absolute;
}
/*///// Preloader (End) /////*/

/*///// Navigation Bar (Start) /////*/
nav {
	background-color: black;
}
.navicon {
	height: 20px;
	width: auto;
}
/*///// Navigation Bar (End) /////*/

/*///// First Section (s1) (Start) /////*/
section.s1 {
	overflow: hidden;
	width: 100%;
	height: auto;
	justify-content: center;
	background-color: #805fff;
	background-image: url("images/bgimg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 10;
}
div.home {
	margin-top: 90px;
}
img.logo {
	height: 30px;
	width: auto;
}
img.img1 {
	height: 400px;
	width: auto;
}
img.img2 {
	height: 100px;
	width: auto;
}
img.img3 {
	height: 200px;
	width: auto;
}
/*///// First Section (s1) (End) /////*/


/*///// Second Section (s2) (Start) /////*/
section.s2 {
	overflow: hidden;
	width: 100%;
	height: auto;
}
img.imgarticle {
	height: 230px;
	width: 400px;
}
div.article {
	border-radius: 5px;
	height: auto;
}
div.article:hover {
	transition: 0.3s ease;
	box-shadow: 0px 0px 10px black;
}
/*///// Second Section (s2) (End) /////*/


/*///// Third Section (s3) (Start) /////*/
section.s3 {
	overflow: hidden;
	height: 100vh;
	width: 100%;
}
img.imgblog {
	height: 200px;
	width: auto;
}
div.blogcard:hover {
	z-index: 9;
	transition: 0.3s ease;
	transform: scale(1.1);
	justify-content: center;
	box-shadow: 0px 0px 10px black;
}
/*///// Third Section (s3) (End) /////*/


/*///// Fourth Section (s4) (Start) /////*/
section.s4 {
	overflow: hidden;
	height: 100vh;
	width: 100%;
}
/*///// Third Section (s4) (End) /////*/

/*///// Fifth Section (s5) (Start) /////*/
section.s5 {
	overflow: hidden;
	height: 100vh;
	width: 100%;
}
/*///// Fifth Section (s5) (End) /////*/


/*///// Footer (Start) /////*/
footer {
	overflow: hidden;
	height: 30vh;
	width: 100%;
}
img.social-media {
	height: 50px;
	width: auto;
}
/*///// Footer (End) /////*/



/*///// Responsive Media Query (Start) /////*/

/*///// For 1000px /////*/
@media (max-width: 1000px){
	img.img1 {
		height: 250px;
		width: auto;
	}
	div.blog {
		height: auto;
	}
	section.s1 {
		height: auto;
	}
	section.s2 {
		height: auto;
	}
	section.s3 {
		height: auto;
	}
	section.s4 {
		height: auto;
	}
	section.s5 {
		height: auto;
	}
	div.loginbox {
		width: 50vh;
	}
	div.signupbox {
		width: 50vh;
	}
}

/*///// For 700px /////*/
@media (max-width: 700px){
	img.imgblog {
		height: 150px;
		width: auto;
	}
	img.img1 {
		height: 200px;
		width: auto;
	}
	img.img2 {
		height: 70px;
		width: auto;
	}
	img.img3 {
		height: 150px;
		width: auto;
	}
	div.loginform {
		height: auto;
	}
	div.signupform {
		height: auto;
	}
	div.loginbox {
		margin: 10px;
		width: auto;
	}
	div.signupbox {
		margin: 10px;
		width: auto;
	}
	footer {
		height: auto;
	}
}
/*///// Responsive Media Query (End) /////*/