<!DOCTYPE html>
<html>
<head>

	<!----- Designed and created by labhansh Satpute ----->
	<!----- Visit : www.coderlion.blogspot.com ----->

	<!----- Meta tags ----->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!----- Google Fonts CDN ----->
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&display=swap" rel="stylesheet">

    <!---- AOS CDN ----->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!----- Bootsrap CDN ----->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 

	<!--- Bootstrap (Offline) --->
	<link rel="stylesheet" type="text/css" href="bootstrap\css\bootstrap.min.css">
	<script type="text/javascript" src="bootstrap\js\bootstrap.min.js">
	</script>

	<!----- Stylesheets ----->
	<link rel="stylesheet" type="text/css" href="css\stylesheet.css">
	<link rel="stylesheet" type="text/css" href="css\animate.css">

	<!----- Javascripts ----->
	<script type="text/javascript" src="js/script.js"></script>

	<title>Blogs</title>
</head>
<body>

	<!----- Header body (Start) ----->
	<header class="body overflow-hidden" id="body">


		<!----- Navigation Bar (Start) ----->
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="z-index: 10">

			<a class="navbar-brand font-weight-bold mx-lg-5 mx-md-5 mx-sm-0" href="index.html"><img src="css\images\icon\logo.svg" class="logo img-fluid mx-1">GYM CLUB</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			</button>

		  	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 mx-2" align="right">
			      	<li class="nav-item px-3">
			        	<img src="css\images\icon\home.svg" class="navicon d-inline-block mb-1 mr-1"><a class="nav-link text-light d-inline-block" href="index.html#s1">Home</a>
			     	</li>
			      	<li class="nav-item px-3">
			        	<img src="css\images\icon\service.svg" class="navicon d-inline-block mb-1 mr-1"><a class="nav-link d-inline-block text-light" href="#s2">Services</a>
			      	</li>
			      	<li class="nav-item px-3">
			        	<img src="css\images\icon\blog.svg" class="navicon d-inline-block mb-1 mr-1"><a class="nav-link d-inline-block text-light" href="#s3">Blogs</a>
			      	</li>
			      	<li class="nav-item px-3">
			        	<img src="css\images\icon\contact.svg" class="navicon d-inline-block mb-1 mr-1"><a class="nav-link d-inline-block text-light" href="#s4">Contact us</a>
			      	</li>
			      	<li class="nav-item px-3">
			        	<img src="css\images\icon\about.svg" class="navicon d-inline-block mb-1 mr-1"><a class="nav-link d-inline-block text-light" href="#s5">About</a>
			      	</li>
			    </ul>
		 	</div>

		</nav>
		<br>
		<!----- Navigation Bar (End) ----->

		<br>
		<section class="blogspage h-100 bg-light">

			<!----- Title ----->
			<div class="container mx-auto text-center">
				<br>
				<hr class="hr-line">
				<h1 class="text-dark display-4">Blogs</h1>
				<hr class="hr-line">
			</div>
			<br>

			<div class="container">
				<form class="form-group float-lg-left float-md-left float-sm-left">
					<label>Sort Blogs</label><br>
					<select class="custom-select w-auto">
						<option class="">Popular</option>
						<option>New to Old</option>
						<option>Old to New</option>
					</select>
				</form>
				<form class="form-group float-lg-right float-md-right float-sm-left">
					<label>Search for Blogs</label><br>
					<div class="input-group-prepend">
						<input type="text" placeholder="Search here" class="input-group-text text-left"><a href="#" class="btn btn-dark bg-dark">Search</a>
					</div>
				</form>
			</div>
			<br>

			<div class="container row m-auto mt-5" align="center">
				<br>

				<!----- First Blog ----->
				<div class="col-lg-4 col-md-6 col-sm-12">	
					<div class="card blogcard my-2">
						<div class="card-body">
							<img src="css\images\blog\blog1.jpg" class="img-fluid imgblog">
							<div class="container">
								<hr>
								<h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
								<hr>
								<p>Date : 03-08-2020</p>
								<br>
								<button class="btn bg-primary btn-dark">View</button>
								<button class="btn bg-primary btn-dark">Share</button>
							</div>
						</div>
					</div>
				</div>

				<!----- Second Blog ----->
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="card blogcard my-2">
						<div class="card-body">
							<img src="css\images\blog\blog1.jpg" class="img-fluid imgblog">
							<div class="container">
								<hr>
								<h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
								<hr>
								<p>Date : 03-08-2020</p>
								<br>
								<button class="btn bg-primary btn-dark">View</button>
								<button class="btn bg-primary btn-dark">Share</button>
							</div>
						</div>
					</div>
				</div>

				<!----- Third Blog ----->
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="card blogcard my-2">
						<div class="card-body">
							<img src="css\images\blog\blog1.jpg" class="img-fluid imgblog">
							<div class="container">
								<hr>
								<h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
								<hr>
								<p>Date : 03-08-2020</p>
								<br>
								<button class="btn bg-primary btn-dark">View</button>
								<button class="btn bg-primary btn-dark">Share</button>
							</div>
						</div>
					</div>
				</div>

				<!----- Third Blog ----->
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="card blogcard my-2">
						<div class="card-body">
							<img src="css\images\blog\blog1.jpg" class="img-fluid imgblog">
							<div class="container">
								<hr>
								<h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
								<hr>
								<p>Date : 03-08-2020</p>
								<br>
								<button class="btn bg-primary btn-dark">View</button>
								<button class="btn bg-primary btn-dark">Share</button>
							</div>
						</div>
					</div>
				</div>

				<!----- Third Blog ----->
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="card blogcard my-2">
						<div class="card-body">
							<img src="css\images\blog\blog1.jpg" class="img-fluid imgblog">
							<div class="container">
								<hr>
								<h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
								<hr>
								<p>Date : 03-08-2020</p>
								<br>
								<button class="btn bg-primary btn-dark">View</button>
								<button class="btn bg-primary btn-dark">Share</button>
							</div>
						</div>
					</div>
				</div>

				<!----- Third Blog ----->
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="card blogcard my-2">
						<div class="card-body">
							<img src="css\images\blog\blog1.jpg" class="img-fluid imgblog">
							<div class="container">
								<hr>
								<h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
								<hr>
								<p>Date : 03-08-2020</p>
								<br>
								<button class="btn bg-primary btn-dark">View</button>
								<button class="btn bg-primary btn-dark">Share</button>
							</div>
						</div>
					</div>
				</div>

				<!----- Third Blog ----->
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="card blogcard my-2">
						<div class="card-body">
							<img src="css\images\blog\blog1.jpg" class="img-fluid imgblog">
							<div class="container">
								<hr>
								<h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
								<hr>
								<p>Date : 03-08-2020</p>
								<br>
								<button class="btn bg-primary btn-dark">View</button>
								<button class="btn bg-primary btn-dark">Share</button>
							</div>
						</div>
					</div>
				</div>

				<!----- Third Blog ----->
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="card blogcard my-2">
						<div class="card-body">
							<img src="css\images\blog\blog1.jpg" class="img-fluid imgblog">
							<div class="container">
								<hr>
								<h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
								<hr>
								<p>Date : 03-08-2020</p>
								<br>
								<button class="btn bg-primary btn-dark">View</button>
								<button class="btn bg-primary btn-dark">Share</button>
							</div>
						</div>
					</div>
				</div>

				<!----- Third Blog ----->
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="card blogcard my-2">
						<div class="card-body">
							<img src="css\images\blog\blog1.jpg" class="img-fluid imgblog">
							<div class="container">
								<hr>
								<h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
								<hr>
								<p>Date : 03-08-2020</p>
								<br>
								<button class="btn bg-primary btn-dark">View</button>
								<button class="btn bg-primary btn-dark">Share</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>

	</header>

</body>
</html>