<!DOCTYPE html>
<html>
<head>

	<!----- Designed and created by labhansh Satpute ----->
	<!----- Visit : www.coderlion.blogspot.com ----->

	<!----- Meta tags ----->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!----- Google Fonts CDN ----->
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&display=swap" rel="stylesheet">

    <!---- AOS CDN ----->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!----- Bootsrap CDN ----->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 

	<!--- Bootstrap (Offline) --->
	<link rel="stylesheet" type="text/css" href="bootstrap\css\bootstrap.min.css">
	<script type="text/javascript" src="bootstrap\js\bootstrap.min.js">
	</script>

	<!----- Stylesheets ----->
	<link rel="stylesheet" type="text/css" href="css\stylesheet.css">
	<link rel="stylesheet" type="text/css" href="css\animate.css">

	<!----- Javascripts ----->
	<script type="text/javascript" src="js/formvalidation.js"></script>
	<script type="text/javascript" src="js/javascript.js"></script>

	<title>Resto Restaurant</title>
</head>


<!----- Page Body (Start) ----->
<body>

	<!----- Header body (Start) ----->
	<header class="body overflow-hidden animated fadeIn" id="body">


		<!----- Navigation Bar (Start) ----->
		<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white shadow">

			<a class="navbar-brand mx-lg-5 mx-md-3 mx-sm-1 font-weight-bolder" href="index.html"><img src="css\images\icon\logo.png" class="logo img-fluid mx-1">Resto Restaurant</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			</button>

		  	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			    <ul class="navbar-nav ml-auto" align="right">
			      	<li class="nav-item px-1">
			        	<a class="nav-link d-inline-block text-dark" href="#home">Home</a>
			     	</li>
			      	<li class="nav-item px-1">
			        	<a class="nav-link d-inline-block text-dark" href="#menu">Menu</a>
			      	</li>
			      	<li class="nav-item px-1">
			        	<a class="nav-link d-inline-block text-dark" href="#events">Events</a>
			      	</li>
			      	<li class="nav-item px-1">
			        	<a class="nav-link d-inline-block text-dark" href="#gallery">Gallery</a>
			      	</li>
			      	<li class="nav-item px-1">
			        	<a class="nav-link d-inline-block text-dark" href="#chefs">Chefs</a>
			      	</li>
			      	<li class="nav-item px-1">
			        	<a class="nav-link d-inline-block text-dark" href="#about">About us</a>
			      	</li>
			      	<li class="nav-item px-2">
			      		<a href="booking.html" class="btn bg-warning font-weight-bold">BOOK</a>
			      	</li>
			      	<li class="nav-item px-2">
			      		<a href="#" class="btn bg-warning font-weight-bold">ORDER</a>
			      	</li>
			    </ul>
		 	</div>

		</nav>
		<!----- Navigation Bar (End) ----->


		<!-----Section First (Start) ----->
		<section class="home" id="home">
			<br>
			<!----- Home Page (Start) ----->
			<div class="container" align="left">
				<br>
				<div class="container title-home py-5 animated fadeInLeft">
					<br>
					<h1 class="text-warning display-3">Welcome to</h1>
					<br>
					<div class="container home-title">
						<hr class="bg-warning" align="left">
						<h1 class="text-white ">Resto Restaurant</h1>
						<p class="text-warning">Delivering great food for more than 18 years!</p>
						<hr class="bg-warning" align="left">
					</div>		
					<br>
					<div class="form-group container">
						<a href="booking.html" class="btn bg-transparent btn-warning btn-lg text-warning button mr-3 my-2 animated heartBeat" style="animation-delay: 2s;">BOOK A TABLE</a>
						<a href="#" class="btn bg-transparent btn-warning btn-lg text-warning button mr-3 my-2 animated heartBeat" style="animation-delay: 3.5s;">ORDER NOW</a>
					</div>
					<br>
				</div>
			</div>					
			<!----- Home Page (End) ----->
			<br>
		</section>
		<!-- Section First (End) -->

		<!-- Section Second (Start) -->
		<section class="menu" id="menu">
			<br>
			<div class="container" align="left">

				<!-- Page Title (Start) -->
				<br>
				<div class="container bg-light p-3 menu-title"  data-aos="fade-right">
					<h1>Check Our Tasty Menu</h1>
					<label>Explore more tasty food here</label>
				</div>
				<br>
				<!-- Page Title (End) -->

				<div class="container">
					<div class="row">

						<!-- First Menu Card (Start) -->
						<div class="col-lg-6 col-md-4 col-sm-6 p-3">
							<div class="card menu-card shadow" data-aos="fade-up">
								<div class="card-body row">
									<div class="col-lg-4 col-md-4 col-sm-5">
										<img src="css\images\menu\cake.jpg" class="card-img img-fluid menu-img img-thumbnail">
									</div>
									<div class="col-lg-8 col-md-8 col-sm-7">
										<h3 class="text-warning mt-2">Cake</h3>
										<p class="text-light">Lorem, deren, trataro, filede, nerada</p>
										<h5 class="text-warning">Price : 5$</h5>
									</div>
									
								</div>
							</div>
						</div>
						<!-- First Menu Card (End) -->

						<!-- Second Menu Card (Start) -->
						<div class="col-lg-6 col-md-4 col-sm-6 p-3">
							<div class="cardk menu-card shadow" data-aos="fade-up">
								<div class="card-body row">
									<div class="col-lg-4 col-md-4 col-sm-5">
										<img src="css\images\menu\bread-barrel.jpg" class="card-img img-fluid menu-img img-thumbnail">
									</div>
									<div class="col-lg-8 col-md-8 col-sm-7">
										<h3 class="text-warning mt-2">Bread-Barrel</h3>
										<p class="text-light">Lorem, deren, trataro, filede, nerada</p>
										<h5 class="text-warning">Price : 3$</h5>
									</div>
									
								</div>
							</div>
						</div>
						<!-- Second Menu Card (End) -->

						<!-- Third Menu Card (Start) -->
						<div class="col-lg-6 col-md-4 col-sm-6 p-3">
							<div class="card menu-card shadow" data-aos="fade-up">
								<div class="card-body row">
									<div class="col-lg-4 col-md-4 col-sm-5">
										<img src="css\images\menu\caesar.jpg" class="card-img img-fluid menu-img img-thumbnail d-inline">
									</div>
									<div class="col-lg-8 col-md-8 col-sm-7">
										<h3 class="text-warning mt-2">Caesar</h3>
										<p class="text-light">Lorem, deren, trataro, filede, nerada</p>
										<h5 class="text-warning">Price : 10$</h5>
									</div>
									
								</div>
							</div>
						</div>
						<!-- Third Menu Card (End) -->

						<!-- Fourth Menu Card (Start) -->
						<div class="col-lg-6 col-md-4 col-sm-6 p-3">
							<div class="card menu-card shadow" data-aos="fade-up">
								<div class="card-body row">
									<div class="col-lg-4 col-md-4 col-sm-5">
										<img src="css\images\menu\greek-salad.jpg" class="card-img img-fluid menu-img img-thumbnail">
									</div>
									<div class="col-lg-8 col-md-8 col-sm-7">
										<h3 class="text-warning mt-2">Greek-Salad</h3>
										<p class="text-light">Lorem, deren, trataro, filede, nerada</p>
										<h5 class="text-warning">Price : 5$</h5>
									</div>								
								</div>
							</div>
						</div>
						<!-- Fourth Menu Card (End) -->

						<!-- Fifth Menu Card (Start) -->
						<div class="col-lg-6 col-md-4 col-sm-6 p-3">
							<div class="card menu-card shadow" data-aos="fade-up">
								<div class="card-body row">
									<div class="col-lg-4 col-md-4 col-sm-5">
										<img src="css\images\menu\lobster-roll.jpg" class="card-img img-fluid menu-img img-thumbnail">
									</div>
									<div class="col-lg-8 col-md-8 col-sm-7">
										<h3 class="text-warning mt-2">Lobster-Roll</h3>
										<p class="text-light">Lorem, deren, trataro, filede, nerada</p>
										<h5 class="text-warning">Price : 6$</h5>
									</div>								
								</div>
							</div>
						</div>
						<!-- Fifth Menu Card (End) -->

						<!-- Fourth Menu Card (Start) -->
						<div class="col-lg-6 col-md-4 col-sm-6 p-3">
							<div class="card menu-card shadow" data-aos="fade-up">
								<div class="card-body row">
									<div class="col-lg-4 col-md-4 col-sm-5">
										<img src="css\images\menu\mozzarella.jpg" class="card-img img-fluid menu-img img-thumbnail">
									</div>
									<div class="col-lg-8 col-md-8 col-sm-7">
										<h3 class="text-warning mt-2">Mozzarella</h3>
										<p class="text-light">Lorem, deren, trataro, filede, nerada</p>
										<h5 class="text-warning">Price : 5$</h5>
									</div>								
								</div>
							</div>
						</div>
						<!-- Fourth Menu Card (End) -->

					</div>
					<br>
					<a href="#" class="bg-warning btn btn-lg">Show more</a>
				</div>
			</div>
			<br>
		</section>
		<!-- Section Second (End) -->

		<!-- Third Second (Start) -->
		<section class="events bg-white" id="events">
			<br>
			<div class="container">
				
				<!-- Page Title (Start) -->
				<br>
				<div class="container bg-light p-3 events-title" data-aos="fade-right">
					<h1>Events</h1>
					<label>Organize Your Events in our Restaurant</label>
				</div>
				<br>
				<!-- Page Title (End) -->

				<div class="container my-3" align="center">
					<div class="row">

						<!-- First Event Card (Start) -->
						<div class="col-lg-4 col-md-4 col-sm-12 p-3" data-aos="fade-right">
							<div class="card bg-light event-card shadow-lg">
								<div class="card-body">
									<img src="css\images\events\event-birthday.jpg" class="img-fluid event-img ">
									<br>
									<div class="container my-3">
										<h2 class="font-weight-bold">Birthday Event</h2>
										<h5 class="font-weight-bold py-1">Starting from : 99$</h5>
										<p>Proident minim dolore dolore consequat eu magna aute nulla.</p>
										<a href="#" class="btn bg-warning font-weight-bolder">BOOK NOW</a>
									</div>
								</div>
							</div>
						</div>
						<!-- First Event Card (End) -->

						<!-- Second Event Card (Start) -->
						<div class="col-lg-4 col-md-4 col-sm-12 p-3" data-aos="fade-up">
							<div class="card bg-light event-card shadow-lg">
								<div class="card-body">
									<img src="css\images\events\event-private.jpg" class="img-fluid event-img ">
									<br>
									<div class="container my-3">
										<h2 class="font-weight-bold">Private Event</h2>
										<h5 class="font-weight-bold py-1">Starting from : 149$</h5>
										<p>Proident minim dolore dolore consequat eu magna aute nulla.</p>
										<a href="#" class="btn bg-warning font-weight-bolder">BOOK NOW</a>
									</div>
								</div>
							</div>
						</div>
						<!-- Second Event Card (End) -->

						<!-- Third Event Card (Start) -->
						<div class="col-lg-4 col-md-4 col-sm-12 p-3" data-aos="fade-left">
							<div class="card bg-light event-card shadow-lg">
								<div class="card-body">
									<img src="css\images\events\event-custom.jpg" class="img-fluid event-img ">
									<br>
									<div class="container my-3">
										<h2 class="font-weight-bold">Custom Event</h2>
										<h5 class="font-weight-bold py-1">Starting from : 199$</h5>
										<p>Proident minim dolore dolore consequat eu magna aute nulla.</p>
										<a href="#" class="btn bg-warning font-weight-bolder">BOOK NOW</a>
									</div>
								</div>
							</div>
						</div>
						<!-- Third Event Card (End) -->

					</div>
				</div>
				<br>
			</div>
			<br>
		</section>
		<!-- Third Section (End) -->

		<!-- Book Action (Start) -->
		<section class="book-action" id="book-action">
			<br>
			<div class="container">

				<!-- Page Title (Start) -->
				<br>
				<div class="container bg-dark p-3 reservation-title"  data-aos="fade-right">
					<h1 class="text-warning">Reservation</h1>
					<label class="text-warning">Book a table according to you</label>
				</div>
				<br>
				<!-- Page Title (End) -->

				<!-- Booking Form (Start) -->
				<div class="form-group px-lg-5 px-md-3 px-sm-0">
					<form class="container px-lg-5 px-md-3 px-sm-1" onsubmit="return validation()" action="#">
						<br>
						<!-- Username Input (Start) -->
						<label class="text-warning">Your Name</label>
						<input type="text" name="name" autocomplete="off" id="username" class="input-group-text border-warning w-100 book-text text-left text-warning" placeholder="Enter your name">
						<lable class="text-white" id="usernameerror"></lable>
						<!-- USername Input (End) -->
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12">
								<br>
								<!-- Mobile Input (Start) -->
								<label class="text-warning">Your Mobile Number</label>
								<div class="input-group-append">
									<input type="text" name="mobile" id="mobile" class="input-group-text border-warning w-100 book-text text-left text-warning" placeholder="Enter your mobile number" autocomplete="off">
									<a href="#" class="btn bg-warning button font-weight-bold">Verify</a>
								</div>
								<lable class="text-white" id="mobileerror"></lable>
								<!-- Mobile Input (End) -->
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<br>
								<!-- Email Input (Start) -->
								<label class="text-warning">Your Email</label>
								<div class="input-group-append">
									<input type="text" name="phone" id="email" class="input-group-text border-warning w-100 book-text text-left text-warning" placeholder="Enter your email" autocomplete="off">
									<a href="#" class="btn bg-warning button font-weight-bold">Verify</a>
								</div>
								<lable class="text-white" id="emailerror"></lable>
								<!-- Email Input (End) -->
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-6">
								<!-- People Select (Start) -->
								<label class="text-warning">People</label><br>
								<select class="custom-select border-warning  book-text text-warning" id="people">
									<option>- Select -</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
								</select>
								<!-- People Select (End) -->
							</div>
							<div class="col-6">
								<!-- Time Select (Start) -->
								<label class="text-warning">Time</label><br>
								<select class="custom-select border-warning book-text text-warning" id="time">
									<option>- Select -</option>
									<option>1 : PM</option>
									<option>2 : PM</option>
									<option>3 : PM</option>
									<option>4 : PM</option>
									<option>5 : PM</option>
									<option>6 : PM</option>
								</select>
								<!-- Time Select (End) -->
							</div>
						</div>
						<!-- Message Input (Start) -->
						<br>
						<label class="text-warning">Message (Optional)</label>
						<textarea rows="3" class="input-group-text border-warning w-100 book-text text-left text-warning" placeholder="Enter your name" placeholder="Enter Message">	
						</textarea>
						<!-- Message Input (End) -->
						<br>
						<!-- Submit Button -->
						<input type="submit" name="submit" value="Submit" class="btn btn-lg bg-warning button font-weight-bold">
					</form>
					<br>
				</div>
				<!-- Booking Form (End) -->
			</div>
			<br>
		</section>
		<!-- Book Action (End) -->

		<!-- Gallary Section (Start) -->
		<section class="gallery bg-light" id="gallery">
			<br>
			<div class="container">
				
				<!-- Page Title (Start) -->
				<br>
				<div class="container bg-white p-3 gallery-title"  data-aos="fade-right">
					<h1>Gallery</h1>
					<label>Explore more images</label>
				</div>
				<br>
				<!-- Page Title (End) -->

				<!-- Gallary Images (Start) -->
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-12 p-3">
							<img src="css\images\gallery\gallery-1.jpg" class="img-fluid img-thumbnail bg-white gallery-img shadow" data-aos="fade-up">
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12 p-3">
							<img src="css\images\gallery\gallery-2.jpg" class="img-fluid img-thumbnail bg-white gallery-img shadow" data-aos="fade-up">
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12 p-3">
							<img src="css\images\gallery\gallery-3.jpg" class="img-fluid img-thumbnail bg-white gallery-img shadow" data-aos="fade-up">
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12 p-3">
							<img src="css\images\gallery\gallery-4.jpg" class="img-fluid img-thumbnail bg-white gallery-img shadow" data-aos="fade-up">
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12 p-3">
							<img src="css\images\gallery\gallery-7.jpg" class="img-fluid img-thumbnail bg-white gallery-img shadow" data-aos="fade-up">
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12 p-3">
							<img src="css\images\gallery\gallery-8.jpg" class="img-fluid img-thumbnail bg-white gallery-img shadow" data-aos="fade-up">
						</div>
					</div>
				</div>
				<!-- Gallary Images (End) -->

			</div>
			<br>
		</section>
		<!-- Gallary Section (End) -->

		<!-- Chefs Section (Start) -->
		<section class="chefs bg-white" id="chefs">
			<br>
			<div class="container">
				
				<!-- Page Title (Start) -->
				<br>
				<div class="container bg-light p-3 chefs-title"  data-aos="fade-right">
					<h1>Our Professionals</h1>
					<label>know more about our chefs</label>
				</div>
				<br>
				<!-- Page Title (End) -->

				<!-- Chefs Card (Start) -->
				<div class="container my-5">
					<div class="row">

						<!-- First Chefs Card (Start) -->
						<div class="col-lg-4 col-md-4 col-sm-12 p-4" data-aos="zoom-in">
							<div class="card bg-light shadow-lg chefs-card-1" align="center">
								<div class="card-body">
									<img src="css\images\chefs\chefs-2.jpg" class="img-thumbnail chefs-img img-fluid p-3"><br>
									<br>
									<h3>Mrs. Sarah Jhonson</h3>
									<label>Patissier</label>
									<br>
									<p>Dolore dolore laboris magna dolor sint proident excepteur reprehenderit ullamco.</p>
								</div>
							</div>
						</div>
						<!-- First Chefs Card (End) -->

						<!-- Second Chefs Card (Start) -->
						<div class="col-lg-4 col-md-4 col-sm-12 p-4 "data-aos="zoom-in">
							<div class="card bg-light shadow-lg chefs-card-2" align="center">
								<div class="card-body">
									<img src="css\images\chefs\chefs-1.jpg" class="img-thumbnail chefs-img img-fluid p-3"><br>
									<br>
									<h3>Mr. Walter White</h3>
									<label>Master Chef</label>
									<br>
									<p>Dolore dolore laboris magna dolor sint proident excepteur reprehenderit ullamco.</p>
								</div>
							</div>
						</div>
						<!-- Second Chefs Card (End) -->

						<!-- Third Chefs Card (Start) -->
						<div class="col-lg-4 col-md-4 col-sm-12 p-4" data-aos="zoom-in">
							<div class="card bg-light shadow-lg chefs-card-3" align="center">
								<div class="card-body">
									<img src="css\images\chefs\chefs-3.jpg" class="img-thumbnail chefs-img img-fluid p-3"><br>
									<br>
									<h3>Mr. William Anderson</h3>
									<label>Cook</label>
									<br>
									<p>Dolore dolore laboris magna dolor sint proident excepteur reprehenderit ullamco.</p>
								</div>
							</div>
						</div>
						<!-- Third Chefs Card (End) -->
					</div>
					<br>
				</div>
				<!-- Chefs Card (End) -->

			</div>
			<br>
		</section>
		<!-- Chefs Section (Start) -->

		<!-- About Section (Start) -->
		<section class="about bg-light" id="about">
			<br>
			<div class="container">

				<!-- Page Title (Start) -->
				<br>
				<div class="container bg-white p-3 about-title" data-aos="fade-right">
					<h1>About us</h1>
					<label>Know more about us</label>
				</div>
				<br>
				<!-- Page Title (End) -->
				
				<!-- About Restraunt (Start) -->
				<div class="container" align="center" data-aos="fade-up">
					<br>
					<img src="css\images\icon\logo.png" class="img-fluid about-logo">
					<br>
					<h4 class="font-weight-bold">Delivering great food for more than 18 years!</h4>
					<br>
					<p>Lorem ipsum consequat labore cupidatat non id reprehenderit ut in dolore occaecat proident anim consectetur in sint reprehenderit cupidatat cillum esse minim sunt sunt cillum consectetur voluptate qui exercitation quis tempor.</p>
				</div>
				<!-- About Restraunt (End) -->

				<!-- Contact Options (Start) -->
				<br>
				<div class="container">
					<br>
					<div class="row">

						<!-- Message Box (Start) -->
						<div class="col-lg-6 col-md-6 col-sm-12" align="center">
							<div class="container" data-aos="fade-right">
								<h2 class="text-dark">Send Message</h2>
								<div class="form-group text-left text-dark">
									<br>
									<label>Name</label>
									<input type="text" class="input-group-text w-100 bg-white text-left" placeholder="Enter your name">
									<br>
									<label>Email</label>
									<input type="text" class="input-group-text w-100 bg-white text-left" placeholder="Enter your email or phone">
									<br>
									<label>Message</label>
									<textarea class="form-control" rows="2" placeholder="Enter your message"></textarea>
									<br>
									<button class="btn bg-warning">Submit</button>
								</div>
							</div>
						</div>
						<!-- Message Box (End) -->

						<!-- Public Platform (Start) -->
						<div class="col-lg-6 col-md-6 col-sm-12" align="center">
							<div class="container" data-aos="fade-left">
								<h2>Public Platforms</h2>
								<div class="form-group">
									<div>
										<br>
										<label>Social Media</label>
										<br>
										<a href="#">
											<img src="css\images\icon\facebook.png" class="img-fluid d-inline-block m-2 social-media">
										</a>
										<a href="#">
											<img src="css\images\icon\gplus.png" class="img-fluid d-inline-block m-2 social-media">
										</a>
										<a href="#">
											<img src="css\images\icon\twitter.png" class="img-fluid d-inline-block m-2 social-media">
										</a>
										<br>
									</div>
									<br>
									<div>
										<label>Contact</label><br>
										<br>
										<h4>Phone : <a href="#" class="card-link">12345-67890</a></h4>
										<br>
										<h4>Email : <a href="#" class="card-link">exaple@mail.com</a></h4>
									</div>
								</div>
							</div>
						</div>
						<!-- Public Platform (End) -->
					</div>
				</div>
				<!-- Contact Options (End) -->
			</div>
			<br>
		</section>
		<!-- About Section (End) -->

		<!-- Footer (Start) -->
		<footer>
			<br>
			<div class="container" align="center">
				<h5 class="text-white">LE PONT DU SECRET, 3rd Street - , New York - 54641</h5>
				<br>
				<h6 class="text-light">Copyright © All Rights Reserved.</h6>
			</div>
			<br>
		</footer>
		<!-- Footer (End) -->		

	</header>
	<!----- Header body (End) ----->

	<!----- AOS Script (start) ----->
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  	<script>
    	AOS.init();
  	</script>
 	<!----- AOS Script (End) ----->

</body>
<!----- Page Body (End) ----->

</html>